<div>
  <div>
    <form name="urlInputForm" ng-submit="submitUrl(url)">
      <input type="text" placeholder="enter url here" ng-model="url"/>
      <button type="submit">Submit URL</button>
    </form>
  </div>
</div>

<div>
  <h4>Upload on file select</h4>
  <form name="form">
    Select file(s)
    <br>
    <button class="button" ngf-select ng-model="files" ngf-multiple="true">Select</button>
    <br>
    Drop files: <div style='width:100px;height:100px;border-style:dotted' ngf-drop ng-model="files" class="drop-box">Drop</div>
    <button type="submit" ng-click="submitImages()">submit</button>
  </form>
</div>