<div class="recipes-section mdl-typography--text-center">
  <div class="logo-font recipes-slogan">Recipes</div>
  <div class="logo-font sub-slogan">list of recipes</div>
  <a href="/#/myrecipes"><span>Get My Recipes!!</span></a>
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mdl-card" ng-click="addToList(recipe)" ng-repeat="recipe in totalRecipes">
      <div class="mdl-card__media">
        <img src="{{recipe.image_url}}">
      </div>
      <div class="mdl-card__title">
         <a href="{{recipe.source_url}}" target="_blank"><h4 class="mdl-card__title-text">{{recipe.title}}</h4></a>
      </div>
    </div>
  </div>
</div>